/* :root {
  --main-color: #b10012;
  font-family: "Conv_Roboto-Bold", "Roboto Slab", "sans-serif";
  color: rgb(228, 228, 228);
}
 */
#FfMTNhdFLxhLnvx {
  width: 100% !important;
  max-width: 300px !important;
  max-height: 600px !important;
  margin: auto !important;
  background-color: rgb(228, 228, 228) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column !important;
  padding-bottom: 20px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#FfMTNhdFLxhLnvx label {
  color: rgb(80, 80, 80) !important;
  padding: 2px 10px !important;
  text-align: center !important;
  display: none !important;
}
/* ok */
#FfMTNhdFLxhLnvx h2 {
  color: #b10012 !important;
  font-size: 25px !important;
  border-left: solid 5px #b10012 !important;
  padding-left: 10px !important;
  line-height: 30px !important;
}

#FfMTNhdFLxhLnvx .form-group {
  display: flex !important;
  flex-direction: column !important;
}
/* ok 1 */
#FfMTNhdFLxhLnvx .form-group {
  margin-top: 10px !important;
}

#FfMTNhdFLxhLnvx #form {
  width: 80% !important;
  margin: auto !important;
}
/* ok 2 */
#FfMTNhdFLxhLnvx input {
  font-size: 1em !important;
  border: solid 1px rgb(194, 194, 194) !important;
  border-radius: 20px !important;
  background: white !important;
  padding: 5px 10px !important;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15) !important;
}

#FfMTNhdFLxhLnvx input::placeholder {
  font-weight: 400 !important;
  color: rgb(194, 194, 194) !important;
}

#FfMTNhdFLxhLnvx .btn-primary {
  background: #b10012 !important;
  border: none !important;
  color: white !important;
  padding: 10px 30px !important;
  margin: auto !important;
  margin-top: 15px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.15) !important;
  border-radius: 6px !important;
}

@media (max-width: 600px) {
  #FfMTNhdFLxhLnvx #form {
    width: 90% !important;
    margin: auto !important;
  }
}

/* font-family: "Conv_Roboto-Bold", "Roboto Slab", "sans-serif"; */
